.sub_section {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    &__p {
        padding-right: 2em;
        line-height: 1.5em;
    }

    &__div {
        width: 50%;
    }
}

.headshot {
    height: 200px;
    width: 200px;
    border-radius: 10%;

    &__container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .sub_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        text-align: center;

        &__p {
            padding: 0px
        }
    }
}

