
a {
    text-decoration: none;
    color: white;
}

a:hover, Button:hover {
    color: rgb(33, 119, 30);
}

.logo {
    height: 60px;
}

.toolbar {
    animation: fadeIn 2000ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
    }
}