* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
}

h2 {
  font-size: 24px;
}

p {
  margin: 0 10 0 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
  margin: 0 15px;
}

// Override carousel default style
.slider-content {
  display: flex;
  justify-content: center;
}

.slider-single-content {
  width: 345px !important;
  margin: auto !important ;
}

.fa-arrow-right, .fa-arrow-left {
  background-color: rgb(25, 90, 23) ;
}

@media screen and (max-width: 400px) {
  .slider-content {
      width: 145px !important;
      margin-left: -150px;
      transform: scale(.8) !important;
    }
}

@media screen and (max-width: 700px) {
  .slider-right, 
  .slider-left, 
  .fa-arrow-right, 
  .fa-arrow-left {
    visibility: hidden;
  }
}